{% extends 'example.html' %}

{% block title %}
  Catikia's Thoughts | {{ post.title }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<h2>{{ post.subject }}</h2>
<small>By:
  {{ post.created_by.first_name }} {{ post.created_by.last_name }} -
  {{ post.thought_date }}
  {% if user.is_authenticated %}

 <!-- allows only the creater of a post to edit or remove -->
    {% if post.created_by.id == user.id %}
        <a href="{% url 'edit_thought' post.pk %}"> - (Edit)</a>
        <a href="{% url 'remove_thought' post.pk %}"> - (Remove)</a>
        {% endif %}
  {% endif %}
</small> <br/>
<hr>
<br/>
{{ post.thoughts|safe }}

<br/><br/>
<!-- back button -->
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}
