{% extends 'example.html' %}

{% block title %}
  Organized thoughts...
{% endblock %}

{% block content %}



<h1>Thoughts from {{cats}}</h1>
<br/>
{% if category_posts %}
<ul>
<!--for loop loops through all posts and lists them individually-->
{% for post in category_posts %}
     <li><a href="{% url 'blogpost-detail' post.pk %}">{{ post.title }}</a>
        - {{ post.created_by.first_name }} {{ post.created_by.last_name }} - {{ post.thought_date }}
       <small>
         {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
               <a href="{% url 'edit_thought' post.pk %}"> - (Edit)</a>
               <a href="{% url 'remove_thought' post.pk %}"> - (Remove)</a>
           {% endif %}
         {% endif %}
       </small><br/>

       - {{ post.subject}} <br/>


      {{ post.summary|safe }}<br/>
     </li>
{% endfor %}
</ul>

{% else %}

Error: This category of thoughts does not exist.

{% endif %}

{% endblock %}
