{% extends 'example.html' %}

{% block title %}
  Editing Thoughts...
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

 <!-- allows only the creater of a post to edit -->
{% if post.created_by.id == user.id %}
<h1>Edit Thought</h1>

<br/><br/>

<div class="form-group">
  <form method="POST">
    {% csrf_token %} <!-- Security token -->
   {{ form.media }} <!-- default django form with rich text editor -->
    {{ form.as_p }} <!-- default django form wrapped in <p> -->
    <button class="btn btn-secondary">Submit Thought Change</button>
    <!-- back to home page button -->
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>

</div>
{% else %}
<h1>You are not the creater of this thought.  You are only allowed to edit your own thoughts.</h1>
{% endif %}

{% else %}
<h1>You are not authorized to view this page.  </h1>
<br/>
<p>Please login to edit thoughts.</p>
<a href="{% url 'login' %}">(Login)</a><br/>
<a href="{% url 'register' %}">(Register)</a>

{% endif %}
{% endblock %}
